#!/bin/sh
#
#	Create by Voli

#:::::: Fix beallitasok :::::::
BEALLITO=/etc/Rendszer/init/Beallito
#:::::: Beallitasok :::::::::::
[ -e "$BEALLITO" ] && . "$BEALLITO"
#:::::: Ellenorzesek ::::::::::
#:::::: functions :::::::::::::

#:::::::: Start :::::::::::::::
    Service_Nevesit syncthing@syncthing.service 

    Service_NoAuto openvpn@example.service

    Remove_initd syslog-ng iscsid mdadm 		## Mert van systemd-s verziójuk

    Service_NoAuto  mdadm  iscsi iscsid.service iscsid.socket


    Service_Disable owfs.service owftpd.service owhttpd.service 		## Én nem használom
