[Unit]
Description=Start/stop MythTV frontend with graphical interface by Voli

[Service]
Type=oneshot
SyslogIdentifier=%N

Environment=SERVICE=nodm.service

ExecStart=/bin/bash -c 'systemctl is-active ${SERVICE} ; Ret=$?; 	\
			[ $Ret -eq 0 ] && systemctl stop ${SERVICE}; 	\
			[ $Ret -ne 0 ] && systemctl start ${SERVICE}; 	\
			exit 0 '
