#By Voli
[Unit]
Description=Docker-compose: %i, by Voli

After   =voli-docker-stop.service
Requires=voli-docker-stop.service


[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N

WorkingDirectory=/etc/Rendszer/docker

ExecStart=            /usr/bin/docker compose --ansi never -f %i.yaml up -d
ExecStop =/bin/sh -c '/usr/bin/docker compose --ansi never -f %i.yaml down ; exit 0'


[Install]
WantedBy=multi-user.target
