[Unit]
Description=openvpn starter by Voli


	## Kell a voli-openvpn-edit, mert mindenképpen ujra kell indulnia!!!

After=local-fs.target network.target

[Service]
Type=oneshot
SyslogIdentifier=%N

WorkingDirectory=/etc/openvpn/


	## Le kell tiltani a SysV-ös scriptet ==> systemctl disable openvpn
ExecStartPre=/bin/bash -c "[ -e /etc/init.d/openvpn ] && mv /etc/init.d/openvpn /etc/init.d.nemkell/ ; exit 0 "

ExecStart=/bin/bash -c ' ls |grep -e "\\.conf$" |sed 's/.conf$//g' |while read a; do echo systemctl start openvpn@$a.service; systemctl start openvpn@$a.service; done; exit 0; '


[Install]
WantedBy=multi-user.target
