[Unit]
Description=Docker compose file-ok mindegyikének leállítása by Voli

After   =docker.service
Requires=docker.service


[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N


WorkingDirectory=/etc/voli-env/docker


ExecStart=/bin/true

ExecStop=/bin/sh -c 'ls *.yaml 	|while read a; do echo 	docker-compose --no-ansi -f $a down; 	\
							docker-compose --no-ansi -f $a down; 	\
							echo A $a result: $?.; 			\
				done; 	exit 0; '


[Install]
WantedBy=multi-user.target
