#By Voli
[Unit]
Description=Alapvető beállításokat valósít meg by Voli

After=local-fs.target


ConditionPathExists=/etc/Rendszer/rc.sh


[Service]
Type=oneshot

ExecStart=/etc/Rendszer/rc.sh


[Install]
WantedBy=multi-user.target
