[Unit]
Description=IR Exec service by Voli

After=local-fs.target voli-lirc@.service
Requires=voli-lirc@.service

ConditionPathExists=/etc/lirc/lircrc
ConditionPathExists=/run/lirc/lircd


[Service]
Type=simple
RestartSec=15s
Restart=always

ExecStart=/usr/bin/irexec /etc/lirc/lircrc


[Install]
WantedBy=multi-user.target
Alias=irexec.service
