[Unit]
Description=Titkositott diszkek kezelése by Voli

After   =local-fs.target cryptsetup.target
Requires=local-fs.target cryptsetup.target


[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N

ExecStart =/bin/sh -c "	for t in $( grep -v -e "none" -e "^#" /etc/crypttab |grep "luks,noauto"|grep "Titok_" |sed 's/[ \t].*//g' ) ; do \
			    cryptdisks_start $t ; 			\
			done "


ExecStop =/bin/sh -c "	for t in $( grep -v -e "none" -e "^#" /etc/crypttab |grep "luks,noauto"|grep "Titok_" |sed 's/[ \t].*//g' ) ; do \
			    cryptdisks_stop $t ; 			\
			done ; 	\
			exit 0 	"
