[Unit]
Description=MythTV frontend with graphical interface Ki/Be kapcsolgató by Voli

[Service]
Type=oneshot
SyslogIdentifier=%N

Environment=SERVICE=nodm.service

ExecStart=/bin/sh -c 'systemctl is-active ${SERVICE} >/dev/null; Ret=$?; 	\
			[ $Ret -eq 0 ] && ( systemctl stop  ${SERVICE}; systemctl stop user-$( id -u mythtv ).slice ); 	\
			[ $Ret -ne 0 ] &&   systemctl start ${SERVICE}; 	\
			exit 0 '
