#By Voli
[Unit]
Description=A forgalom korlátozást valósítja meg (feltöltés)  by Voli

After=local-fs.target network.target


ConditionPathExists=/etc/Rendszer/init/voli-myshaper


[Service]
Type=oneshot
Restart=no
RemainAfterExit=yes


ExecStart=/etc/Rendszer/init/voli-myshaper start
ExecStop =/etc/Rendszer/init/voli-myshaper stop


[Install]
WantedBy=multi-user.target
