[Unit]
Description=Docker contener-ek indítása by Voli

After   =docker.service local-fs.target network.target
Requires=docker.service local-fs.target network.target


[Service]
Type=oneshot
SyslogIdentifier=%N

WorkingDirectory=/etc/voli/docker


ExecStart=/bin/sh -c 'ls *.yaml |sed "s/.yaml$//g" |while read a; do echo systemctl start voli-docker@$a.service; systemctl start voli-docker@$a.service; done; exit 0; '


#[Install]
#WantedBy=multi-user.target
