#By Voli
[Unit]
Description=Docker kontener(ek): %i, by Voli

After   =docker.service local-fs.target network.target voli-docker-stop.service
Requires=docker.service local-fs.target network.target voli-docker-stop.service

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N

WorkingDirectory=/etc/voli/docker

ExecStart=/usr/bin/docker-compose --no-ansi -f %i.yaml up -d --no-color
ExecStop =/usr/bin/docker-compose --no-ansi -f %i.yaml down


[Install]
WantedBy=multi-user.target
