[Unit]
Description=Minden docker konténer leállítása by Voli

After   =local-fs.target docker.service
Requires=local-fs.target docker.service


[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N


Environment=GetComposeFile='{{ index .Config.Labels "com.docker.compose.project.working_dir"}}/{{ index .Config.Labels "com.docker.compose.project.config_files"}}'

ExecStart=/bin/true

	## A docker-compose által készített konténerek leállítása
ExecStop=/bin/sh -c ' for f in $( docker container inspect  --format \'${GetComposeFile}\' $( docker container ls -q ) |sort -u; ) ; do docker-compose -f $f down; done '

	## Minden még álló konténer leállítása
ExecStopPost=/bin/sh -c ' for id in $(docker container ls -q) ; do docker container stop $id; done '


[Install]
WantedBy=multi-user.target
