[Unit]
Description=Titkosított csatolási pont kezelése by Voli

After   =voli-titok-lvm.service
Requires=voli-titok-lvm.service

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N

	## A fel/le csatolások sok időbe telhetnek... (btrfs >10TB: több mint 180 sec)
TimeoutStopSec=4min

EnvironmentFile=/etc/voli-env/voli-titok.env

	## Az /etc/fstab-ban kell megadni a csatolás mikéntjét
ExecStart=/bin/sh -c 'mountpoint -q ${MountPoint} ||  mount ${MountPoint} ; '
ExecStop =/bin/sh -c 'mountpoint -q ${MountPoint} && umount ${MountPoint} ; exit 0; '

## Ellenőrzésre a log-ba; mert ha van akkor timeout-ra futott a le/felcsatolás
ExecStopPost =/bin/df -h -t btrfs -t ext4
ExecStartPost=/bin/df -h -t btrfs -t ext4
