[Unit]
Description=Titkositott LVM by Voli

After   =voli-titok-disks.service
Requires=voli-titok-disks.service

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N

##EnvironmentFile=/etc/voli/voli-titok.env

ExecStartPre=/sbin/vgscan
ExecStartPre=/sbin/lvscan
ExecStart   =/sbin/lvchange --activate y ${LogicalVolume}

ExecStop    =/sbin/lvchange --activate n ${LogicalVolume}
ExecStopPost=/sbin/vgchange --activate n ${VolumeGroupName}

## Ellenőrzésre a log-ba; mert látszódni fog az lv-k állapota
ExecStopPost=/sbin/lvs
