[Unit]
Description=SyncThing starter for SyncThing service(s) by Voli

After=local-fs.target network.target

ConditionPathExists=/etc/voli-env/syncthing/

[Service]
Type=oneshot
SyslogIdentifier=%N

WorkingDirectory=/etc/voli-env/syncthing/

ExecStart=/bin/sh -c ' ls|grep conf$ |sed "s/.conf$//g" |while read a; do systemctl start voli-syncthing@$a.service; done '


[Install]
WantedBy=multi-user.target
