[Unit]
Description=LIRC service by Voli

After=local-fs.target

ConditionFileIsExecutable=/usr/sbin/lircd
ConditionPathExists=/etc/lirc/lircd.conf

[Service]
Type=simple
SyslogIdentifier=%N
RestartSec=30s
Restart=always


			#Alapértelmezett lirc eszköz
Environment=LIRC_Device=/dev/lirc0
			#Itt van ha működik az UDEV, és van Microsoft kompatibilis USB-s Infra vevő (MCE) akkor ezen figyeljen... 
Environment=MCEUSB=/dev/MCEusb0

			## A régi indító script-et elmozgatom a biztonság kedvéért
ExecStartPre=/bin/bash -c "[ -e /etc/init.d/lirc ] && mv /etc/init.d/lirc /etc/init.d.nemkell/ ; exit 0 "

ExecStartPre=/bin/bash -c "[ -d /var/run/lirc ] || mkdir -p /var/run/lirc "

ExecStart=/bin/bash -c "[ -e ${MCEUSB} ] && LIRC_Device=${MCEUSB}; exec /usr/sbin/lircd --nodaemon  --device=${LIRC_Device} --driver default /etc/lirc/lircd.conf"


[Install]
WantedBy=multi-user.target
Alias=lirc.service
