[Unit]
Description=SyncThing starter for SyncThing service(s) by Voli

After=local-fs.target network.target

ConditionPathExists=/etc/voli-env/syncthing/

[Service]
Type=oneshot
SyslogIdentifier=%N

WorkingDirectory=/etc/voli/syncthing/

ExecStart=/bin/bash -c ' ls|grep conf$ |sed "s/.conf$//g" |while read a; do 	\
			    echo systemctl start voli-syncthing@$a.service; 	\
			         systemctl start voli-syncthing@$a.service; 	\
			done; 							\
			exit 0; '


[Install]
WantedBy=multi-user.target
