[Unit]
Description=openvpn starter by Voli


	## Kell a voli-openvpn-edit, mert mindenképpen ujra kell indulnia!!!

After=local-fs.target network.target

[Service]
Type=oneshot
SyslogIdentifier=%N

WorkingDirectory=/etc/openvpn/


ExecStart=/bin/bash -c ' ls |grep -e "\\.conf$" |sed 's/.conf$//g' |while read a; do echo systemctl restart openvpn@$a.service; systemctl restart openvpn@$a.service; done; exit 0; '


[Install]
WantedBy=multi-user.target
