################# idokep_ellenorzes ##########################

IDOKEP_AUTOMATA_NEV=volaricsi
IDO_ELTERES_MAX=5			## percben számolva


################# idokep_db ##########################

## Az időkép autómata hálózati neve
HOST="idokep_automata"

## Ezt a felhasználót használja a munkája során
USER=idokep

## Ebben a könyvtárban tároljuk a mentéseket
SAVE_DIR=/var/lib/idokep/

## A mentések file-nevének kezdete
SAVE_FILE_ELOTAG=Idokep_

## Ennyi mentést fog megtartani
MARAD=10
