## Ezekkel a sorokkal nem fog foglalkozni az összehasonlításkor
#
#	Üres sor NEM lehet!!!
#
### A diff technikai kiírásainak elrejtése
^---$
^[0-9a-f]\+$
^[0-9a-f]\+,[0-9a-f]\+,[0-9a-f]\+$
#
### A fejléc
smartctl [0-9.]\+ .\+\[.\+\].\+\(local build\)
 Local Time is:
Namespace 1 Size/Capacity:
User Capacity:
#^Copyright
#LU WWN Device Id:
###
# data collection:
# recommended polling time:
#
### Pillanatnyi állapot jelzései
   3 Spin_Up_Time
   4 Start_Stop_Count
   9 Power_On_Hours
  12 Power_Cycle_Count
 190 Airflow_Temperature_Cel
 192 Power-Off_Retract_Count
 193 Load_Cycle_Count
 194 Temperature_Celsius
 240 Head_Flying_Hours
 241 Total_LBAs_Written
 242 Total_LBAs_Read
 235 Unknown_Attribute
#
### Változik a megitélés, de a raw érték jó
7 Seek_Error_Rate .\+ 0$
#
### NVME SSD (Intel)
 Temperature:
 Data Units Read:
 Data Units Written:
 Host Read Commands:
 Host Write Commands:
 Controller Busy Time:
 Power On Hours:
 Power Cycles:
### NVME SSD Samsung
Namespace 1 Utilization:
Temperature Sensor 1:
Temperature Sensor 2: