[Unit]
Description=LIRC service by Voli
Documentation=man:lircd(8)


After=local-fs.target


ConditionFileIsExecutable=/usr/sbin/lircd
ConditionPathExists=/etc/lirc/lircd.conf
ConditionPathExists=/etc/lirc/lirc_options.conf


[Service]
Type=simple
SyslogIdentifier=%N
RestartSec=30s
Restart=always

ExecStartPre=/bin/sh -c "[ -d /var/run/lirc ] || mkdir -p /var/run/lirc "

ExecStart=/usr/sbin/lircd --nodaemon


[Install]
WantedBy=multi-user.target
Alias=lirc.service
